<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/perfil_admin.css?V1.0">
    <title>Perfil</title>
        <style>
        .escrita{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sair{
            width: 100%;
            height: 350px;
           margin-top: 0;
           display: flex;
           justify-content: start;
           align-items: end;
        }
        .sair i{
            font-size: 30px;
            margin: 0;
        }
        .sair p{
            margin: 8px;
        }
        nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }
    </style>
</head>

<body>
    <header>
        <div class="menu">
            <button class="hamburguer">
                <div id="barra1" class="barra"></div>
                <div id="barra2" class="barra"></div>
                <div id="barra3" class="barra"></div>
            </button>
            <nav>
                <ul>
                    <div class="perfilm" onclick="Perfil()">
                        <img src="../assets/man.png" alt="foto de perfil">
                        <div class="editar">
                            <p>Administrador</p><i class="bi bi-pencil" style="color: #fff; margin-left: 5px;"></i>
                        </div>
                    </div>
                    <div class="itensmenu">

                        <div class="cardmenu">
                            <i class="bi bi-house-door"></i>
                            <li><a href="ambientesC.html">Ambientes</a></li>
                        </div>
                    </div>
                    <div class="sair" onclick="Sair()">
                        <i class="bi bi-box-arrow-right" style="margin-left: 5px;"></i>
                        <p>Sair</p>
                    </div>


                </ul>
            </nav>
        </div>
        <div class="logo">
            <img src="../assets/logo_senai.png" alt="logo-senai">
        </div>
        <div class="notificacao">
            <i class="bi bi-bell"></i>
        </div>
    </header>

    <main class="main-colaborador">

        <div class="conteiner-perfil">
            <div class="perfil">
                <img src="../assets/man.png" alt="Foto do usuário">
                <p id="perfil-nome">Carregando...</p>
            </div>
        </div>

        <!-- DADOS -->
        <div class="dados">
            <div class="info">
                <p>Email</p>
                <p id="perfil-email">Carregando...</p>
            </div>
            <div class="info">
                <p>Senha</p>
                <p>**********</p>
            </div>
            <div class="info">
                <p>Cargo</p>
                <p id="perfil-cargo">Carregando...</p>
            </div>
        </div>

        <div class="editar-logout">
            <div class="card" onclick="Sair()">
                <i class="bi bi-box-arrow-in-right" style="color: #940808;"></i>
                <p>Sair</p>
            </div>
            <div class="card" onclick="Editar()">
                <i class="bi bi-person-fill-gear" style="color: #940808;"></i>
                <p>Editar perfil</p>
            </div>
        </div>
    </main>

    <footer></footer>
    <script>
        function Editar() {
            window.location.href = 'editar_colaborador.html';
        }

        function Sair() {
            window.location.href = 'index.html';
            alert("Você saiu da sua conta...")
            localStorage.removeItem("usuario"); // limpa login
        }

        // MENU
        const hamburguer = document.querySelector(".hamburguer");
        const nav = document.querySelector("nav");

        hamburguer.addEventListener("click", () => {
            // animação do hambúrguer (vira X)
            hamburguer.classList.toggle("aberto");

            // abre/fecha o menu
            nav.classList.toggle("ativo");
        });

        document.addEventListener("DOMContentLoaded", async () => {
            const usuario = JSON.parse(localStorage.getItem("user")); // <--- aqui
            // console.log("Objeto do usuário:", usuario);
            // console.log("Email que será buscado:", usuario.email);

    if (!usuario) {
        alert("Você precisa estar logado para acessar o perfil.");
        window.location.href = "index.html";
        return;
    }

    try {
        // busca no back-end

        const response = await fetch(`../../back-end/Get/Get_usuario.php?email=${usuario.email}`);
        const result = await response.json();

        if (result.status === "success") {
            const dados = result.data;
            document.getElementById("perfil-nome").innerText = dados.usuario_nome;
            document.getElementById("perfil-email").innerText = dados.usuario_email;
            document.getElementById("perfil-cargo").innerText = dados.usuario_nivel;
        } else {
            alert("Erro: " + result.message);
        }
    } catch (error) {
        console.error("Erro ao carregar perfil:", error);
    }
});



    


    </script>
</body>

</html>