* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #940808, #ca1f1f);
    overflow-y: hidden;
}

@media screen and (max-width: 468px) {

    header {
        width: 100%;
        height: 100px;
        /* background-color: #940808;  */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        position: relative;
    }

    /* MENU HAMBÚRGUER */
    .hamburguer {
        width: 25px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .barra {
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        transition: 0.3s ease;
    }

    /* LOGO CENTRALIZADA */
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo img {
        height: 40px;
    }

    /* SINO NOTIFICAÇÃO */
    .notificacao i {
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        margin-right: 25px;
    }

    /* ANIMAÇÃO DO HAMBÚRGUER VIRANDO "X" */
    .hamburguer.aberto #barra1 {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburguer.aberto #barra2 {
        opacity: 0;
    }

    .hamburguer.aberto #barra3 {
        transform: rotate(-45deg) translate(7px, -6px);
    }
    nav {
        position: absolute;
        top: 100px;
        /* logo abaixo do header */
        left: 0;
        width: 250px;
        height: 100vh;
        background: linear-gradient(to right, #940808, #a71919);
        /* background-color: #ca1f1f; */
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    nav.ativo {
        transform: translatey(0);
    }

    nav ul {
        list-style: none;
        padding: 20px;
    }

    nav ul li {
        margin: 15px 0;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    .perfil{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }
    .perfil img{
        width: 60px;
        height: 60px;
    }
    .editar{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .editar p{
        color: #fff;
        font-size: 17px;
    }

    .itensmenu{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        margin-top: 50px;
    }
    .cardmenu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cardmenu i{
        margin: 10px;
        color: #fff;
        font-size: 30px;
    }
    .sair{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        padding: 10px;
        margin-top: 90%;
        color: #fff;
    }
    .sair p{
        margin-left: 10px;
        font-size: 17px;
    }
    .sair i{
        font-size: 20px;
    }

    /* MAIN */
    main {
        width: 100%;
        height: 100vh;
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; */
        background-color: #F8F8F8;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        /* padding: 1.3em; */
    }

    .escrita {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 30px 0px 10px 20px;
    }

    .escrita h1 {
        font-size: 20px;
        padding: 5px 15px 0px;
    }

    .escrita i {
        font-size: 30px;
    }

    #barra {
        width: 280px;
        height: 40px;
    }

    .fotografia{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3%;
    }
    .cardf{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
    }

    .foto{
        width: 190px;
        height: 180px;
        border: 1px solid #a2a2a2;
        border-radius: 20px;
        margin: 5px;
    }
    button{
        width: 180px;
        height: 25px;
        background-color: #940808;
        color: #fff;
        font-size: 16px;
        border-radius: 20px;
        border: none;
    }
    .finalizarbutton{
        margin-top: 4%;
    }
    #finalizar{
        width: 280px;
        height: 30px;
        font-size: 20px;
        display: none;
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        /* fundo semi-opaco */
        display: none;
        /* inicialmente escondido */
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .modal-content {
        background: #fff;
        padding: 20px 40px;
        border-radius: 10px;
        text-align: center;
        font-family: Arial, sans-serif;
        width: 350px;
        height: 280px;
    }
}